* {
    margin:0;
    padding: 0;
    border:0;
}
Body{
    margin: 2px;
    padding: 2px;
    border:2px;
}
header{
    margin: 2px;
    padding: 2px;
    border: 2px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius:8px ;
    background: blue;
    color:white;
    text-align: center;
}
section{
    margin:2px;
    padding: 2px;
    border: 2px;
}
footer{
    margin: 2px;
    padding: 2px;
    border: 2px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius:8px;
    background: blue;
    color: white;
}