<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acreano</title>
    <link rel="stylesheet" href="../static/css/estaduais.css">
</head>
<body>
    <header>
        <h1>Campeonato do Acre</h1>
    </header>
    <br>
    <section>
        <h2>Jogos</h2>
        <table>
            <tr>
                <th>Data</th>
                <th>Casa</th>
                <th>Resultados</th>
                <th>Fora</th>
                <th>Local</th>
            </tr>
            <tr>
                <td>10/04/2024</td>
                <td><img src="../static/imagem/logo/Acre/SaoFrancisco.png"> <div>São Francisco</div></td>
                <td>1 - 1</td>
                <td><img src="../static/imagem/logo/Acre/Humaita.png"><div>Humaitá</div></td>
                <td>-</td>
            </tr>
            <tr>
                <td>11/04/2024</td>
                <td><img src="../static/imagem/logo/Acre/VascodagamaAc.png"> <div>Vasco da Gama</div></td>
                <td>0 - 2</td>
                <td><img src="../static/imagem/logo/Acre/Escudoindependenciafc.png"><div>Indenpendência</div></td>
                <td>-</td>
            </tr>
            <tr>
                <td>14/04/2024</td>
                <td><img src="../static/imagem/logo/Acre/Humaita.png"> <div>Humaitá</div></td>
                <td>2 - 1</td>
                <td><img src="../static/imagem/logo/Acre/Escudoindependenciafc.png"><div>Indenpendência</div></td>
                <td>-</td>
            </tr>
            <tr>
                <td>17/04/2024</td>
                <td><img src="../static/imagem/logo/Acre/Galvez.png"> <div>Galvez</div></td>
                <td>1 - 1</td>
                <td><img src="../static/imagem/logo/Acre/Escudoindependenciafc.png"><div>Indenpendência</div></td>
                <td>-</td>
            </tr>
            <tr>
                <td>18/04/2024</td>
                <td><img src="../static/imagem/logo/Acre/Humaita.png"> <div>Humaitá</div></td>
                <td>1 - 1</td>
                <td><img src="../static/imagem/logo/Acre/VascodagamaAc.png"><div>Vasco da Gama</div></td>
                <td>-</td>
            </tr>
            <tr>
                <td>21/04/2024</td>
                <td><img src="../static/imagem/logo/Acre/Escudoindependenciafc.png"> <div>Indenpendência</div></td>
                <td>1 - 0</td>
                <td><img src="../static/imagem/logo/Acre/RioBranco.png"><div>Rio Branco</div></td>
                <td>Arena Acreana</td>
            </tr>
            <tr>
                <td>21/04/2024</td>
                <td><img src="../static/imagem/logo/Acre/Galvez.png"> <div>Galvez</div></td>
                <td>2 - 2</td>
                <td><img src="../static/imagem/logo/Acre/Humaita.png"> <div>Humaitá</div></td>
                <td>-</td>
            </tr>
            <tr>
                <td>25/04/2024</td>
                <td><img src="../static/imagem/logo/Acre/Escudoindependenciafc.png"> <div>Indenpendência</div></td>
                <td>4 - 1</td>
                <td><img src="../static/imagem/logo/Acre/SaoFrancisco.png"><div>São Francisco</div></td>
                <td>Arena Acreana</td>
            </tr>
            <tr>
                <td>25/04/2024</td>
                <td><img src="../static/imagem/logo/Acre/RioBranco.png"><div>Rio Branco</div></td>
                <td>0 - 3</td>
                <td><img src="../static/imagem/logo/Acre/Humaita.png"> <div>Humaitá</div></td>
                <td>-</td>
            </tr>
        </table>
    </section>
    <br>
    <section>
        <h2>Tabela</h2>
        <table>
            <tr>
                <th>Rank</th>
                <th>Clubes</th>
                <th>PON</th>
                <th>JOG</th>
                <th>VIT</th>
                <td>SG</td>
                <th>GF : GS</th>
                <td>EMP</td>
                <th>DER</th>
                <th>APR%</th>
            </tr>
            <tr>
                <td>1ª</td>
                <td><img src="../static/imagem/logo/Acre/Escudoindependenciafc.png" alt=""></td>
                <td>10</td>
                <td>5</td>
                <td>3</td>
                <td>5</td>
                <td>9 : 4</td>
                <td>1</td>
                <td>1</td>
                <td>58%</td>
            </tr>
            <tr>
                <td>2ª</td>
                <td><img src="../static/imagem/logo/Acre/Humaita.png" alt=""></td>
                <td>3</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>2 : 1</td>
                <td>0</td>
                <td>0</td>
                <td>100%</td>
            </tr>
            <tr>
                <td>3ª</td>
                <td><img src="../static/imagem/logo/Acre/Galvez.png" alt=""></td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>1 : 1</td>
                <td>1</td>
                <td>0</td>
                <td>33%</td>
            </tr>
            <tr>
                <td>4ª</td>
                <td><img src="../static/imagem/logo/Acre/RioBranco.png" alt=""></td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>-1</td>
                <td>0 : 1</td>
                <td>0</td>
                <td>1</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>5ª</td>
                <td><img src="../static/imagem/logo/Acre/VascodagamaAc.png" alt=""></td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>-2</td>
                <td>0 : 2</td>
                <td>0</td>
                <td>1</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>6ª</td>
                <td><img src="../static/imagem/logo/Acre/SaoFrancisco.png" alt=""></td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>-3</td>
                <td>1 : 4</td>
                <td>0</td>
                <td>1</td>
                <td>0%</td>
            </tr>
        </table>
    </section>
    <a button class="button" href="campeonatosestaduais.html">Voltar</button></a>
    <footer>
        <h5>Contatos:</h5>
        <p>Whatsapp: (11) 9 7708-9372</p>
        <p>Email: luzivam.santos28@outlook.com</p>
    </footer>    
</body>
</html>