<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estaduais</title>
    <link rel="stylesheet" href="../static/css/estaduais.css">
</head>
<body>
    <header>
        <h1>Estaduais</h1>
    </header>
    <br>
    <section>
        <a button class="button" href="acreano.html">Capeonato do Acre</button></a>

        <br>
        <br>
        <a button class="button" href="index.html">Voltar</button></a>
    </section>
    <br>
    <footer>
        <h5>Contatos:</h5>
        <p>Whatsapp: (11) 9 7708-9372</p>
        <p>Email: luzivam.santos28@outlook.com</p>
    </footer>
    
</body>
</html>