<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
        <header>
            <h1>Football</h1>
        </header>
        <br>
        <section>
            <button class="button">Títulos</button>
        </section>
        <br>
        <footer>
            <h5>Contatos:</h5>
            <p>Whatsapp: (11) 9 7708-9372</p>
            <p>Email: luzivam.santos28@outlook.com</p>

        </footer>
    </body>
</html>