<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/point.css">
</head>
<body>
    <header>
        <h1>Ranking Point</h1>
    </header>
    <br>
    <a button class="button" href="index.html">Voltar</button></a>
    <section>
        <table>
            <tr>
                <th>Posição</th>
                <th>Escudo</th>
                <th>Clubes</th>
                <th>Estado</th>
                <th>Pontos</th>
            </tr>
            <tr>
                <td>1ª</td>
                <td><img src="../static/imagem/logo/Acre/Escudoindependenciafc.png"></td>
                <td>Independência</td>
                <td>Acre</td>
                <td>10</td>
            </tr>
            <tr>
                <td>2ª</td>
                <td><img src="../static/imagem/logo/Acre/Humaita.png"></td>
                <td>Humaitá</td>
                <td>Acre</td>
                <td>3</td>
            </tr>
            <tr>
                <td>3ª</td>
                <td><img src="../static/imagem/logo/Acre/Galvez.png"></td>
                <td>Galvez</td>
                <td>Acre</td>
                <td>1</td>
            </tr>
            <tr>
                <td>4ª</td>
                <td><img src="../static/imagem/logo/Acre/RioBranco.png"></td>
                <td>Rio Branco</td>
                <td>Acre</td>
                <td>0</td>
            </tr>
            <tr>
                <td>5ª</td>
                <td><img src="../static/imagem/logo/Acre/VascodagamaAc.png"></td>
                <td>Vasco da Gama</td>
                <td>Acre</td>
                <td>0</td>
            </tr>
            <tr>
                <td>6ª</td>
                <td><img src="../static/imagem/logo/Acre/SaoFrancisco.png"></td>
                <td>São Francisco</td>
                <td>Acre</td>
                <td>0</td>
            </tr>

        </table>
        <a button class="button" href="index.html">Voltar</button></a>
    </section>
    <br>
    <footer>
        <h5>Contatos:</h5>
        <p>Whatsapp: (11) 9 7708-9372</p>
        <p>Email: luzivam.santos28@outlook.com</p>
    </footer>    
</body>
</html>