<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/titulos.css">
</head>
<body>
    <header>
        <h1>Futball</h1>
    </header>
    <br>
    <section>
        <table>
            <tr>
                <th>Posição</th>
                <th>Clubes</th>
                <th>Estaduais</th>
            </tr>
            <tr>
                <td>1ª</td>
                <td>Clube1</td>
                <td>1</td>
            </tr>
        </table>
        <a button class="button" href="index.html">Voltar</button></a>
    </section>
    <br>
    <footer>
        <h5>Contatos:</h5>
        <p>Whatsapp: (11) 9 7708-9372</p>
        <p>Email: luzivam.santos28@outlook.com</p>
    </footer>
</body>
</html>