<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/titulos.css">
</head>
<body>
    <header>
        <h1>Football</h1>
    </header>
    <br>
    <section>
        <table>
            <tr>
                <th>Posição</th>
                <th>Escudo</th>
                <th>Clubes</th>
                <th>Estado</th>
                <th>Estaduais</th>
            </tr>
            <tr>
                <td>1ª</td>
                <td><img src="../static/imagem/Escudoindependenciafc.png"></td>
                <td>Independência</td>
                <td>Acre</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2ª</td>
                <td><img src="../static/imagem/crb.png"> </td>
                <td>CRB</td>
                <td>Alagoas</td>
                <td>1</td>
            </tr>
            <tr>
                <td>3ª</td>
                <td><img src="../static/imagem/Escudo_do_Manaus_Futebol_Clube.png"> </td>
                <td>Manaus</td>
                <td>Amazonas</td>
                <td>1</td>
            </tr>
            <tr>
                <td>4ª</td>
                <td><img src="../static/imagem/Trem.png"> </td>
                <td>Trem</td>
                <td>Amapa</td>
                <td>1</td>
            </tr>
            <tr>
                <td>5ª</td>
                <td><img src="../static/imagem/Vitoria.png"> </td>
                <td>Vitoria</td>
                <td>Bahia</td>
                <td>1</td>
            </tr>
            <tr>
                <td>6ª</td>
                <td><img src="../static/imagem/Ceara.png"> </td>
                <td>Ceará</td>
                <td>Ceará</td>
                <td>1</td>
            </tr>
            <tr>
                <td>7ª</td>
                <td><img src="../static/imagem/Ceilandia.png"> </td>
                <td>Ceilândia</td>
                <td>Distrito Federal</td>
                <td>1</td>
            </tr>
            <tr>
                <td>8ª</td>
                <td><img src="../static/imagem/RioBranco.png"> </td>
                <td>Rio Branco</td>
                <td>Espirito Santo</td>
                <td>1</td>
            </tr>
            <tr>
                <td>9ª</td>
                <td><img src="../static/imagem/AtleticoGo.png"> </td>
                <td>Atletico GO</td>
                <td>Goias</td>
                <td>1</td>
            </tr>
            <tr>
                <td>10ª</td>
                <td><img src="../static/imagem/SampaioCorrea.png"> </td>
                <td>Sampaio Corrêa</td>
                <td>Maranhão</td>
                <td>1</td>
            </tr>
            <tr>
                <td>11ª</td>
                <td><img src="../static/imagem/Cuiaba.png"> </td>
                <td>Cuiabá</td>
                <td>Mato Grosso</td>
                <td>1</td>
            </tr>
            <tr>
                <td>12ª</td>
                <td><img src="../static/imagem/Operario.png"> </td>
                <td>Operário</td>
                <td>Mato Grosso do Sul</td>
                <td>1</td>
            </tr>
            <tr>
                <td>13ª</td>
                <td><img src="../static/imagem/AtleticoMg.png"> </td>
                <td>Atlético MG</td>
                <td>Minas Gerais</td>
                <td>1</td>
            </tr>
            <tr>
                <td>14ª</td>
                <td><img src="../static/imagem/Paysandu.png"> </td>
                <td>Paysandu</td>
                <td>Pará</td>
                <td>1</td>
            </tr>
            <tr>
                <td>15ª</td>
                <td><img src="../static/imagem/Sousa.png"> </td>
                <td>Sousa</td>
                <td>Paraiba</td>
                <td>1</td>
            </tr>
            <tr>
                <td>16ª</td>
                <td><img src="../static/imagem/AthleticoPr.png"> </td>
                <td>Athletico PR</td>
                <td>Paraná</td>
                <td>1</td>
            </tr>
            <tr>
                <td>17ª</td>
                <td><img src="../static/imagem/Sport.png"> </td>
                <td>Sport</td>
                <td>Pernabuco</td>
                <td>1</td>
            </tr>
            <tr>
                <td>18ª</td>
                <td><img src="../static/imagem/Altos.png"> </td>
                <td>Altos</td>
                <td>Piaui</td>
                <td>1</td>
            </tr>
            <tr>
                <td>19ª</td>
                <td><img src="../static/imagem/Flamengo.png"> </td>
                <td>Flamengo</td>
                <td>Rio de Janeiro</td>
                <td>1</td>
            </tr>
            <tr>
                <td>20ª</td>
                <td><img src="../static/imagem/AmericaRn.png"> </td>
                <td>Ameriaca-RN</td>
                <td>Rio Grande do Norte</td>
                <td>1</td>
            </tr>
            <tr>
                <td>21ª</td>
                <td><img src="../static/imagem/Gremio.png"> </td>
                <td>Grêmio</td>
                <td>Rio Grande do Sul</td>
                <td>1</td>
            </tr>
            <tr>
                <td>22ª</td>
                <td><img src="../static/imagem/Portovelho.png"> </td>
                <td>Porto Velho</td>
                <td>Rodonia</td>
                <td>1</td>
            </tr>
            <tr>
                <td>23ª</td>
                <td><img src="../static/imagem/GremioSampaio.png"> </td>
                <td>Grêmio Sampaio</td>
                <td>Roraima</td>
                <td>1</td>
            </tr>
            <tr>
                <td>24ª</td>
                <td><img src="../static/imagem/Criciuma.png"> </td>
                <td>Criciúma</td>
                <td>Santa Catarina</td>
                <td>1</td>
            </tr>
            <tr>
                <td>25ª</td>
                <td><img src="../static/imagem/logo/São Paulo/Palmeiras01.png"> </td>
                <td>Palmeiras</td>
                <td>São Paulo</td>
                <td>1</td>
            </tr>
            <tr>
                <td>26ª</td>
                <td><img src="../static/imagem/Confiança.png"> </td>
                <td>Confiança</td>
                <td>Sergipe</td>
                <td>1</td>
            </tr>
            <tr>
                <td>27ª</td>
                <td><img src="../static/imagem/UniãoTo.png"> </td>
                <td>União</td>
                <td>Tocatins</td>
                <td>1</td>
            </tr>

        </table>
        <a button class="button" href="index.html">Voltar</button></a>
    </section>
    <br>
    <footer>
        <h5>Contatos:</h5>
        <p>Whatsapp: (11) 9 7708-9372</p>
        <p>Email: luzivam.santos28@outlook.com</p>
    </footer>
</body>
</html>